	<!---------- 修改登录密码 ---------->
	<fieldset class="form-list">
		<legend>修改登录密码</legend>
		<form name="aForm" ng-submit="submitForm(aForm.$valid)" novalidate>
			<ul>
				<li><input type="password" class="tbox" placeholder="请输入旧密码" required ng-model="oldPwd" ng-pattern="/^[a-zA-Z]\w{5,17}$/"></li>
				<li><input type="password" class="tbox" placeholder="请输入新密码" id="password" required ng-model="newPwd" ng-pattern="/^[a-zA-Z]\w{5,17}$/"></li>
				<li><input type="password" class="tbox" placeholder="确认新密码" required ng-model="conPwd" ng-pattern="/^[a-zA-Z]\w{5,17}$/" pw-check="password"></li>
			</ul>
			<div class="wrap-btn"><input class="btn-1" type="submit" value="确定" ng-disabled="aForm.$invalid || isSubmit"></div>
		</form>
	</fieldset>
	<div class="h40px"></div>
	<promt></promt>
