	<!---------- header ---------->
	<header-public></header-public>
	
	<!---------- main ---------->
	<main class="store-nav-list">
		<menu>
			<li>电脑</li>
			<li>打印机</li>
			<li>投影仪</li>
			<li>电脑</li>
			<li>电脑</li>
		</menu>
		<nav>
			<a href="#"><span>台式机</span><s class="tr-r"><i></i><b></b></s></a>
			<a href="#"><span>笔记本</span><s class="tr-r"><i></i><b></b></s></a>
			<a href="#"><span>平板电脑</span><s class="tr-r"><i></i><b></b></s></a>
			<a href="#"><span>台式机</span><s class="tr-r"><i></i><b></b></s></a>
			<a href="#"><span>台式机</span><s class="tr-r"><i></i><b></b></s></a>
			<a href="#"><span>台式机</span><s class="tr-r"><i></i><b></b></s></a>
			<a href="#"><span>台式机</span><s class="tr-r"><i></i><b></b></s></a>
			<a href="#"><span>台式机</span><s class="tr-r"><i></i><b></b></s></a>
			<a href="#"><span>台式机</span><s class="tr-r"><i></i><b></b></s></a>
			<a href="#"><span>台式机</span><s class="tr-r"><i></i><b></b></s></a>
			<a href="#"><span>台式机</span><s class="tr-r"><i></i><b></b></s></a>
			<a href="#"><span>台式机</span><s class="tr-r"><i></i><b></b></s></a>
			<a href="#"><span>台式机</span><s class="tr-r"><i></i><b></b></s></a>
			<a href="#"><span>台式机</span><s class="tr-r"><i></i><b></b></s></a>
			<a href="#"><span>台式机</span><s class="tr-r"><i></i><b></b></s></a>
		</nav>
	</main>
	<!---------- 底部导航指令 ---------->
	<store-nav></store-nav>