	<!---------- header ---------->
	<header-public></header-public>
	<!---------- main ---------->
	<main>
		<section class="order-success">
			<i class="ico-success"></i>
			<article>
				<h6>订单提交成功！</h6>
				<p>我们的客服会尽快给你准备发货！！</p>
			</article>
		</section>
		<section class="order-success-address">
			<section>
				<div><span>收货人：刘三姐</span><em>13565656525</em></div>
				<address><span>收货地址：</span><em>四川省成都市武侯区丰德国际广场B1座16楼</em></address>
			</section>
			<div>付款金额 ：<span>￥5889</span></div>
		</section>
		<a class="btn-check" href="person.html#/order/all">查看订单</a>
		<div class="h40px"></div>
	</main>