	<!---------- header ---------->
	<header-public></header-public>
	<!---------- main ---------->
	<main>
		<ul class="goods-list goods-list-a">
			<li>
				<figure><a href="#"><img ng-src="{{imgPath}}/temp/09.png"></a></figure>
				<h6><a href="#">2015 Apple/12 英MacBookacBookacBook</a></h6>
				<p><span>¥ 2788.00</span><em>30人收藏</em></p>
				<checkboxs></checkboxs>
			</li>
			<li>
				<figure><a href="#"><img ng-src="{{imgPath}}/temp/09.png"></a></figure>
				<h6><a href="#">2015 Apple/12 英MacBookacBookacBook</a></h6>
				<p><span>¥ 2788.00</span><em>30人收藏</em></p>
				<checkboxs></checkboxs>
			</li>
			<li>
				<figure><a href="#"><img ng-src="{{imgPath}}/temp/09.png"></a></figure>
				<h6><a href="#">2015 Apple/12 英MacBookacBookacBook</a></h6>
				<p><span>¥ 2788.00</span><em>30人收藏</em></p>
				<checkboxs></checkboxs>
			</li>
			<li>
				<figure><a href="#"><img ng-src="{{imgPath}}/temp/09.png"></a></figure>
				<h6><a href="#">2015 Apple/12 英MacBookacBookacBook</a></h6>
				<p><span>¥ 2788.00</span><em>30人收藏</em></p>
				<checkboxs></checkboxs>
			</li>
		</ul>
		<div class="h40px"></div>
	</main>
