	<!---------- header ---------->
	<header-public></header-public>
	<!---------- main ---------->
	<main>
		<ul class="store-collec-list">
			<li>
				<figure><img ng-src="{{imgPath}}/temp/23.png"></figure>
				<section>
					<h3>xx数码专营店</h3>
					<p>100人关注</p>
				</section>
				<s class="tr-r"><i></i><b></b></s>
				<a href="#"></a>
			</li>
			<li>
				<figure><img ng-src="{{imgPath}}/temp/23.png"></figure>
				<section>
					<h3>xx数码专营店</h3>
					<p>100人关注</p>
				</section>
				<s class="tr-r"><i></i><b></b></s>
				<a href="#"></a>
			</li>
			<li>
				<figure><img ng-src="{{imgPath}}/temp/23.png"></figure>
				<section>
					<h3>xx数码专营店</h3>
					<p>100人关注</p>
				</section>
				<s class="tr-r"><i></i><b></b></s>
				<a href="#"></a>
			</li>
			<li>
				<figure><img ng-src="{{imgPath}}/temp/23.png"></figure>
				<section>
					<h3>xx数码专营店</h3>
					<p>100人关注</p>
				</section>
				<s class="tr-r"><i></i><b></b></s>
				<a href="#"></a>
			</li>
		</ul>
		<div class="h40px"></div>
	</main>