	<!---------- header ---------->
	<header-public></header-public>
	<!---------- main ---------->
	<main>
		<section class="goods-info">
			<figure><img ng-src="{{imgPath}}/temp/20.png"></figure>
			<article>
				<h3>物流状态<span>已签收</span></h3>
				<p>运单编号：4657944546465465454</p>
				<p>联系电话：400-45479888</p>
			</article>
		</section>
		<section class="logistics-wrap">
			<header>物流跟踪</header>
			<ul>
				<li class="current">
					<i></i><b></b>
					<p>四川省成都市青羊区二部公司已签收</p>
					<time>2015-06-12 13:09:23</time>
				</li>
				<li>
					<i></i><b></b>
					<p>四川省成都市青羊区,快递员：成龙</p>
					<p>电话：1888888888 如有问题请及时联系</p>
					<time>2015-06-12 13:09:23</time>
				</li>
				<li>
					<i></i><b></b>
					<p>四川省成都市转运中心公司  已收入</p>
					<time>2015-06-12 13:09:23</time>
				</li>
				<li>
					<i></i><b></b>
					<p>四川省成都市一打包</p>
					<time>2015-06-12 13:09:23</time>
				</li>
			</ul>
		</section>
	</main>
