	<!---------- header ---------->
	<header-public></header-public>
	<!---------- main ---------->
	<main>
		<section class="service-center-wrap">
			<p>仔细阅读本协议，App将依据以下条件和条款为您提供服务。欢迎阅读App用户协议(下称“本协议”)。本协议阐述之条款和条件适用于您使用潮App平台所提供的各种工具和服务(下称“服务”)</p>
			<h3>1．购买t流程</h3>
			<p>App根据本服务条款及对该条款的修改向用户提供服务。本服务条款具有合同法上的法律效力。如果您对协议的任何条款表示异议，您可以选择不注册，一旦您点选“注册”并通过注册程序，即表示您自愿接受本协议之所有条款，并已成为的注册会员。用户在使用潮App平台的同时，同意接受潮App平台会员服务提供的各类信息服务。</p>
			<h3>2．运费说明</h3>
			<p>2.1 E办公App平台服务的具体内容由本平台根据实际情况提供，并对所提供之服务拥有最终解释权。</p>
			<p>2.2 E办公App平台仅向其会员提供相关服务，与相关服务有关的设备（如个人电脑、手机、及其</p>
		</section>
	</main>