	<!---------- header ---------->
	<header-public></header-public>
	<!---------- main ---------->
	<main>
		<ul class="jicai-list">
			<li>
				<header>
					<h6>电脑、键盘、鼠标</h6>
					<time>截止时间：2015-12-30</time>
				</header>
				<footer><div>办公用品采购单</div><p>报价结束</p></footer>
			</li>
			<li class="on">
				<header>
					<h6>电脑、键盘、鼠标</h6>
					<time>截止时间：2015-12-30</time>
				</header>
				<footer><div>办公用品采购单</div><p>等待报价</p></footer>
			</li>
			<li class="on">
				<header>
					<h6>电脑、键盘、鼠标</h6>
					<time>截止时间：2015-12-30</time>
				</header>
				<footer><div>办公用品采购单</div><p>等待报价</p></footer>
			</li>
			<li class="on">
				<header>
					<h6>电脑、键盘、鼠标</h6>
					<time>截止时间：2015-12-30</time>
				</header>
				<footer><div>办公用品采购单</div><p>等待报价</p></footer>
			</li>
		</ul>
		<div class="h40px"></div>
	</main>
	<a class="btn-1" ui-sref="publish">发布采购单</a>