	<ul class="order-list">
		<!-- 待付款 -->
		<li>
			<header>
				<h3><i></i><span>星辉数码专卖店 </span><b>&gt;</b></h3>
				<span>待付款</span>
			</header>
			<section>
				<figure><img ng-src="{{imgPath}}/temp/20.png"></figure>
				<div>
					<h4>华硕X552MJ2840华硕X552MJ2840</h4>
					<p>规格：深灰色13寸</p>
				</div>
				<aside>
					<p>￥1000.00</p>
					<div>X2</div>
				</aside>
				<a data-ui-sref="detail"></a>
			</section>
			<section>
				<figure><img ng-src="{{imgPath}}/temp/20.png"></figure>
				<div>
					<h4>华硕X552MJ2840华硕X552MJ2840</h4>
					<p>规格：深灰色13寸</p>
				</div>
				<aside>
					<p>￥1000.00</p>
					<div>X2</div>
				</aside>
				<a data-ui-sref="detail"></a>
			</section>
			<footer>共3件商品，合计：<span>￥3005.00</span><i>(含运费5.00)</i></footer>
			<nav><a class="btn-esc" href="#">取消订单</a><a class="btn-pay" href="index.html#/orderConfirm">立即付款</a></nav>
		</li>
		<li>
			<header>
				<h3><i></i><span>星辉数码专卖店 </span><b>&gt;</b></h3>
				<span>待发货</span>
			</header>
			<section>
				<figure><img ng-src="{{imgPath}}/temp/20.png"></figure>
				<div>
					<h4>华硕X552MJ2840华硕X552MJ2840</h4>
					<p>规格：深灰色13寸</p>
				</div>
				<aside>
					<p>￥1000.00</p>
					<div>X2</div>
				</aside>
				<a data-ui-sref="detail"></a>
			</section>
			<footer>共3件商品，合计：<span>￥3005.00</span><i>(含运费5.00)</i></footer>
		</li>
		<li>
			<header>
				<h3><i></i><span>星辉数码专卖店 </span><b>&gt;</b></h3>
				<span>待收货</span>
			</header>
			<section>
				<figure><img ng-src="{{imgPath}}/temp/20.png"></figure>
				<div>
					<h4>华硕X552MJ2840华硕X552MJ2840</h4>
					<p>规格：深灰色13寸</p>
				</div>
				<aside>
					<p>￥1000.00</p>
					<div>X2</div>
				</aside>
				<a data-ui-sref="detail"></a>
			</section>
			<footer>共3件商品，合计：<span>￥3005.00</span><i>(含运费5.00)</i></footer>
			<nav><a class="btn-esc" ui-sref="logistics">查看物流</a><a class="btn-pay" ui-sref="orderConfirm">确认收货</a></nav>
		</li>
		<li>
			<header>
				<h3><i></i><span>星辉数码专卖店 </span><b>&gt;</b></h3>
				<span>交易完成</span>
			</header>
			<section>
				<figure><img ng-src="{{imgPath}}/temp/20.png"></figure>
				<div>
					<h4>华硕X552MJ2840华硕X552MJ2840</h4>
					<p>规格：深灰色13寸</p>
				</div>
				<aside>
					<p>￥1000.00</p>
					<div>X2</div>
				</aside>
				<a data-ui-sref="detail"></a>
			</section>
			<footer>共3件商品，合计：<span>￥3005.00</span><i>(含运费5.00)</i></footer>
			<nav><a class="btn-pay" ui-sref="commit">去评价</a></nav>
		</li>
		<li>
			<header>
				<h3><i></i><span>星辉数码专卖店 </span><b>&gt;</b></h3>
				<span>交易完成</span>
			</header>
			<section>
				<figure><img ng-src="{{imgPath}}/temp/20.png"></figure>
				<div>
					<h4>华硕X552MJ2840华硕X552MJ2840</h4>
					<p>规格：深灰色13寸</p>
				</div>
				<aside>
					<p>￥1000.00</p>
					<div>X2</div>
				</aside>
				<a data-ui-sref="detail"></a>
			</section>
			<footer>共3件商品，合计：<span>￥3005.00</span><i>(含运费5.00)</i></footer>
		</li>
		<li>
			<header>
				<h3><i></i><span>星辉数码专卖店 </span><b>&gt;</b></h3>
				<span>交易关闭</span>
			</header>
			<section>
				<figure><img ng-src="{{imgPath}}/temp/20.png"></figure>
				<div>
					<h4>华硕X552MJ2840华硕X552MJ2840</h4>
					<p>规格：深灰色13寸</p>
				</div>
				<aside>
					<p>￥1000.00</p>
					<div>X2</div>
				</aside>
				
			</section>
			<footer>共3件商品，合计：<span>￥3005.00</span><i>(含运费5.00)</i></footer>
		</li>
	</ul>
	<div class="h40px"></div>